img {
  height: 250px;
}

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}

.black-background {
  font-size: 5px;
}

#text {
  background-color: black;
  border: purple solid 15px;
  color: yellow;
}
#initially-hidden {
  display: none;
}

#initially-fadedout {
  display: none;
}

#initially-slide-up {
  display: none;
}

.clickable{
  cursor: pointer;
  color: blue;
}

.clickable:hover {
  text-decoration: underline;
}

.fade{
  cursor: pointer;
  color: blue;
}

.fade:hover {
  text-decoration: underline;
}

.slide{
  cursor: pointer;
  color: blue;
}

.slide:hover {
  text-decoration: underline;
}
